/*some css was taken from Project 2 for the background photo and h1,h2,p,img*/

/* sets general default font */
*{
    font-family: 'Open Sans', sans-serif;
    color:white;
}
#search_box{
    display: inline-block;
}
#search{
    display:inline-block;
}
label{
    font-family: "Arial Black", Gadget, sans-serif;
}
table, th, td {
    border: 1px solid transparent;
}
#signout_link{
    font-size:12pt;
    font-family: "Arial Black", Gadget, sans-serif;

}
span{
    color: gray;
    font-style: italic;
}
li{
    font-family: "Arial Black", Gadget, sans-serif;
}
table{
    margin: 10px;
    /* border-collapse: collapse; */
    border:none;
    border-top: 1.5px solid rgb(109, 0, 0);
    width: 85%;
}
h1{
    display: inline-block;
    font-size: 34px;
    color: white;
    margin-left: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(109, 0, 0);
}
button{
    font-style: italic;
}
h2{
    color: white;
    margin-left: 12px;
    font-family: "Arial Black", Gadget, sans-serif;

}
h3{
    margin-left: 12px;
    color:red;
    font-family: "Arial Black", Gadget, sans-serif;
}
th{
    background-color:rgba(255, 255, 255, .5);
    opacity: 50%;
    font-family: "verdana";
    font-size: 15px;
    max-width: 10%;
    min-width: 7%;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
input{
    width: 11vw;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
/* gives space between imgs */
img{
    margin-top: 10px;
    margin-left: 15px;
}
#name{
    margin-left: 0px;
}
/* makes all p text white and 14 font */
p{
    margin-left: 14px;
    color: white;
}
/* makes search option have black font and positions */
#search_box{
    margin-left: 5px;
    color:black;
    display: inline-block;
}
option{
    color:black;
}
/* styles td if needed, reused from project 2 */
td {
    max-width: 10%;
    min-width: 7%;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgba(255, 255, 255, .9);
    opacity: 50%;
}
/* sets background photo and gives a backup color if img doesnt load */
body{
    background-color: rgb(19, 18, 18);
    background-image: url("/images/black_pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* makes all forms have black input font color */
form{
    color: black;
    margin: 10px;
}
/* positions and styles search form */
#sform{
    display:inline-block;
    border:none;
    margin-left: auto;
    margin-right: auto;
}
/* positions and styles insertion form */
#iform{

    display:inline-block;
    border:none;
    margin-left: 0px;
    padding:0px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-right: auto;
}
/* positions sign out */
#sign_out{
    margin-left: 30px;
}
/* container for holding image gallery on main page for proper formatting */
.white_box{
    margin-top: 15px;
    width: 85vw;
    margin-bottom: 15px;
}
/* formats the footer with colors and positioning to make sure footer is always at the bottom */
#footer{
    border-top: 3px solid rgb(109, 0, 0);
    border-bottom: 3px solid rgb(109, 0, 0);
    height: 40px;
    margin: 0px;
    margin-top:20px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
    margin-right:-50px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    margin-left: -50px;
    padding-top: 10px;
    padding-left: 30px;

}
/* for single view images, could be used to enlarge if i decide to */
.enlarge{
    width: 700px;
}
/* sets margin and padding to adjust for formatting other elements */
body{
    margin: 0px;
    padding:50px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
}
/* gives any messages i decide to give faded class to a gray style italicized */
.faded{
    color:rgb(167, 163, 163);
    font-style: italic;
}
/* below positions and gives elements space */
select{
    float:left;
}
#add_photo{
    display: block;
}
label{
    color: white;
    float:left;
    margin-right:1px;
    font-size: 15px;
}
button{
    margin-left: 5px;
}
/* sets img height and put white background in case it is transparent */
img{
    background-color:white;
    height: 200px;
}
/* sets height of imgs and makes them have building block style layout */
.img_container{
    display: inline-block;
    height: 200px;
}
/* makes images centered and take up minimum space when no images appear */
.white{
    min-height: 150px;
    text-align: center;
    width: 100%;
}
/* makes single view img put in correct place */
.imgphp{
    float:left;
}
/* make headers span the whole width */
.head_container{
    width: 100%;
}
/* remove bullets from login elemenents */
#login_list{
    list-style: none;
}
/* make list of tags in white arial black font lined to the left */
#tag_list{
    color: white;
    margin-left: 12px;
    font-size: 17px;
    font-family: "Arial Black", Gadget, sans-serif;
}
/* make login form next to header */
.login_container{
    margin: 1%;
    vertical-align:top;
    display:inline-block;
}
/* make sign out in correct place next to header */
#sign_out{
    margin: 3.5%;
    vertical-align:top;
    display:inline-block;
}
/* make all buttons have black font except for delete button */
input,button{
    color:black;
}
/* make header next to login form */
.header_box{
    display: inline-block;
    width: 70%;
}
/* container to make imgs not overlap with footer as footer has position absolute */
.page_container{
    /* margin-bottom: 70px; */
    min-height:80vh;
    padding-bottom:100px;
    position:relative;
}
/* make delete img button red */
#delete{
    color:red;
}
/* puting view all button next to search */
#view_all{
    display:inline-block;
}
/* search form area */
#search_form{
    display:inline-block;
}
/* setting height and white background for transparent imgs, so that transparent stuff will be visible on black, single view */
#img{
    color: white;
    width: 20vw;
}
/* adding space for tag list */
#tag{
    margin-left: 5px;
}
/* making all image divs be in a staggered block style */
.single_img{
    display:inline-block;
}
/* putting space between delete tag button and tag */
.delete_tag{
    margin-left: 10px;
}
figure{
    margin:0;
    padding:0;
}
